@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url(../styles/login/logos.css);
@import url(../styles/toast/toast.css);

/* Fonts */
@font-face {
    font-family: "Metropolis";
    src: url(../assets/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: "Metropolis";
    font-weight: bold;
    src: url(../assets/fonts/Metropolis-Bold.otf);
}

body,
html {
    width: 100%;
    height: 100%;

    padding: 0 auto;
    margin: 0 auto;

    overflow: hidden;

    background: linear-gradient(to right,hsla(229, 64%, 19%, 0.70), hsla(229, 64%, 19%, 0.70)), url(../assets/images/UmakAdminBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;

    color: white;

    font-family: "Metropolis";
}

a:link {
    color: aquamarine;
}
